

/.vs
/Source/.vs
/Application.Api/bin
/Application.Api/obj
/Application.Core/bin
/Application.Core/obj
/Application.Repositories/bin
/Application.Repositories/obj
/Application.Services/bin
/Application.Services/obj
/Application.ViewModel/bin
/Application.ViewModel/obj
/Application.RequestModel/bin
/Application.RequestModel/obj
/GSPClient/bin
/GSPClient/obj
